body {
    padding: 50px;
    background-color: beige;
}

table{
    border-color: black;
    border: 1px;
    width: 100%;
    height: 100%;
}

th, td{
    border: 1px solid black;
    font-family: 'Oldenburg', cursive;
}

#relleno{
    background-color: yellow;
    text-align: center;
}
