body {
    padding: 50px;
    background-color: beige;
}

h1.titulo{
    color: navy;
    font-size: 30px;
    font-style: italic; 
}

p.texto{
    color: darkblue;
    font-size: 15px;
    text-align: justify;
    }

.destacado{
    font-weight: bold;
    font-style: oblique;
}

