body {
    padding: 50px;
    background-color: beige;
}

table {
    align: left;
    width: 100%;
    height: 100%;
 }

td{
    width: 25%;
}

#imagenes{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}

.mono{
    align-content: center;
    height: 100px;
    width: 100;
}

.pasarela{
    align-content: center;
    height: 100px;
    width: 200px
}