body {
    padding: 50px;
    background-color: beige;
}

p {
    font-family: 'Oldenburg', cursive;
}

p::first-letter {
	font-size: 3em;
}

p::first-line{
    color: red;
}

li.moneda::after {
    content: " €";
}
