body {
    background-color: beige;
    text-align: center;
    margin-top: 100px;
}

div.caja {
    height: 200px;
    width: 200px;
    margin: 5px;
}

#top_left{
    background-color: red;
    display: inline-block;
    padding: 50px;
}

#top_right{
    background-color: green;
    display: inline-block;
    padding: 50px;
}

#bottom_left{
    background-color: blue;
    display: inline-block;
    padding: 50px;
}

#bottom_right{
    background-color: black;
    display: inline-block;
    padding: 50px;
}

i{
    font-size: 150px;
    color: white;
}