body {
    padding: 50px;
    background-color: beige;
}

#imagenes{
    padding: 5px;
    border: 1px solid black;
}

.mono{
    align-content: center;
    height: 100%;
    width: 100%;
}

.pasarela{
    align-content: center;
    height: 100%;
    width: 100%;
}