body {
    background-color: beige;
}

div.central{
    background-color: white;
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 20px;
    color: white;
}

div.superior {
    background-color: blue;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    color: white;
}

div.inferior {
    background-color: red;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    color: white;
}