div{
    color: white;
    font-size: 24pt;
    font-weight: bold;
}


@media only screen and (max-width: 799px) {
    body{
        background-color: lawngreen;
    }
    #verde {
        display: block;
    }
    #red {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    body{
        background-color: red;
    }
    #verde {
        display: none;
    }
    #red {
        display: block;
    }
}