body {
    padding: 50px;
    background-color: beige;
}
#espaciado{
    padding-top: 800px;
}
p{
    font-family: 'Oldenburg', cursive;
    text-align: justify;
}

a:hover {
    border-bottom: 3px solid red;
    cursor: pointer;
}

h2{
    color:red;
    font-style: oblique;
}

li{
    margin: 2%;
}