body {
    padding: 50px;
    background-color: beige;
}

span.circulos{
    height: 200px;
    width: 200px;
    margin: 1in;
    background-color: blue;
    border-radius: 50%;
    font-size: 75px;
    color: white;
    text-align: center;
    line-height: 200px;
    display: inline-block;
}

