body {
    padding: 50px;
    background-color: beige;
}

div.clicable:hover {
    cursor: pointer;
}

li:first-child {
    font-weight: bolder;
}

a {
    text-decoration: none; /* no subrallado */
    color: black; /* no color específico */
}
a:hover {
    border-bottom: 3px solid red;
}

i.hovershow {
    width: 50px;
    font-size: 50px;
    color: white;
    background-color: blue;
    margin-right: 25px;
    padding: 10px;
    cursor: pointer;
}

i.hovershow + span {
    display: none;
    width: 200px;
    background-color: lightgray;
    padding: 5px;
}

i.hovershow:hover + span {
    display: inline-block;
}


