body {
    padding: 50px;
    background-color: beige;
}


div.circulos{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 60px;
    color: white;
    line-height: 100px;
    display: inline-block;
    text-align: center;
}