body {
    background-color: beige;
}

div.encabezado{
    font-size: 15pt;
    font-weight: bold;
    color: red;
}

div.detalle{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

div.generico{
    background-image:url('elo.png');
    background-repeat:repeat;
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
    height: 250px;
}
#primero{
        background-image:url('elo.png');
        background-repeat:repeat;
        background-size: 25%;
}

#segundo{
        background-image:url('elo.png');
        background-repeat:no-repeat;
        background-size:cover;
}

#tercero{
    background-image:url('elo.png');
    background-repeat:no-repeat;
    background-size:auto;
    background-position: center;
}

div.bloque{
    display: inline-block;
}